.hotel-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  /* padding: 20px; */
}

.no-data {
  text-align: center;
  font-size: 18px;
  color: #666;
}

/* Hotel Card */
.hotel-card {
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background: #fff;
  transition: 0.2s ease;
}

.hotel-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

/* Image */
/* .hotel-image-wrapper {
  width: 180px;
  height: 120px;
  overflow: hidden;
} */

.hotel-image {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

/* Details */
.hotel-details {
  flex: 1;
  padding: 18px;
}

.hotel-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.hotel-location {
  color: #777;
  margin-top: 0px;
  font-size: 14px;
}




.hotel-price-title {
  font-size: 14px;
  color: #888;
}

.hotel-price-value {
  font-size: 18px;
  font-weight: bold;
  margin-top: 4px;
}

.hotel-no-price {
  color: #dc3545;
  font-size: 14px;
  margin-top: 8px;
}

/* Button */
.hotel-btn {
  margin-top: 14px;
  padding: 10px 16px;
  background: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.hotel-btn:hover {
  background: #0059c9;
}
