.testimonials-section {
  padding: 40px 120px;
  background: linear-gradient(to bottom right, #eef4f8, #ffffff);
}

/* Titles */
.text-center {
  text-align: center;
  margin-bottom: 40px;
}

.testimonials-title {
  font-size: 36px;
  font-weight: 700;
}

/* Slider Wrapper */
.slider-wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
}

/* Desktop → 2 cards */
.testimonial-card {
  min-width: calc(50% - 10px);
  background: #fff;
  border-radius: 14px;
  /* box-shadow: 0 4px 16px rgba(0,0,0,0.08); */
  overflow: hidden;
  display: block;
  flex-direction: row;
  /* margin: 10px; */
}

.testimonial-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.testimonial-content {
  padding: 20px 22px;
}

.stars {
  color: #ffb700;
  font-size: 20px;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.testimonial-text{
  font-size: 13px;
  color: rgb(95, 95, 95);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


/* Buttons */
.testimonial-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 12px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
  font-size: 20px;
}

.arrow-btn.active {
  background: #3b82f6;
  color: white;
}

/* Mobile → 1 card full width */
@media (max-width: 768px) {
  .testimonial-card {
    min-width: 100%;
  }
  .testimonials-section{
    padding: 10px 20px;
  }

  .testimonial-image img {
    height: 220px;
  }

  .testimonials-title {
    font-size: 28px;
  }
}
