.about-section {
  width: 100%;
  padding: 60px 120px;
  background: #ffffff;
  
}

/* Top Content */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Image Styling */
.about-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 14px;
  object-fit: cover;
}

/* Right Side Content */
.about-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #111;
  margin-bottom: 10px;
}

.about-title {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 700;
  color: #111;
  margin-bottom: 20px;
}

.about-text {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  max-width: 450px;
  margin-bottom: 25px;
  
}

.about-btn {
  background: #00384d;
  color: #fff;
  padding: 12px 26px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-btn:hover {
  background: #1d4ed8;
}

/* Stats Section */
.stats-wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.stat-box {

  padding: 30px;
  text-align: center;
  border-right: 1px solid #e5e5e5;
}

.stat-box:last-child {
  border-right: none;
}

.stat-box h2 {
    font-weight: 500;
  font-size: 30px;
  margin-bottom: 10px;
}

.stat-box p {
    
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-text {
    margin: 0 auto 25px;
  }

  .about-image img {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .stats-wrapper {
    grid-template-columns: 1fr;
    border-radius: 10px;
  }
  .about-section{
    padding: 40px 20px;
  }

  .stat-box {
    border-right: none !important;
    border-bottom: 1px solid #e5e5e5;
  }

  .stat-box:last-child {
    border-bottom: none;
  }
}
