@import "tailwindcss";

/* ✅ Hide Google Translate top banner */

body {
  top: 0px;
  
}
/* Extra protection to prevent Google from translating */
.notranslate {
  all: unset !important;
}
.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}