.banner{
    width: 100%;
    height: auto;
    background-color: rgb(244, 242, 242);
    background-image: url('https://cityin.net/uploads/travel-images/settings-files/afa21d355a621591cc4da501bb113a9f.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Banner background */


/* Overlay to darken */
.banner-overlay {
  background: rgba(7, 7, 8, 0.319);
  border-radius: 8px;
  padding: 10px 5px;
}

/* Heading + text */
.banner-content h1 {
  font-size: 36px;
  margin-bottom: 0px;
  font-weight: bold;
  padding: 50px 0px 0px 60px;
  color: white;
}

.banner-content p {
  font-size: 18px;
  margin-bottom: 60px;
  padding: 0px 0px 0px 60px;
  color: white;
}





/* Responsive */
@media (max-width: 768px) {
  .banner-content h1 {
  text-align: center;
  padding: 40px 0px 0px 0px;
}

.banner-content p {
 text-align: center;
 padding: 0px;
}


}