.country-selector-container {
  position: relative;
  width: 300px;
  
}

.selector-display {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-size: 14px;
}

.dropdown-icon {
  font-size: 12px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background: white;
  border-radius: 8px;
  margin-top: 5px;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 100%;
  padding: 0px 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  
}

.dropdown-list {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}

.code {
  color: #555;
}
