.desti-main {
  padding: 20px 100px 40px 100px;
  background: #f9f9f9;
  
}
.destination-heading{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 30px;
  color: rgb(58, 58, 58);
}
.desti-main .abt-heading{
    text-align: center;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;

}
.para-txt{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: rgb(119, 119, 119);
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}
.abt-more-btn{
    margin-top: 13px;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 600;
    float: right;
    border: none;
    outline: none;
    background-color: #ef4050;
    cursor: pointer;
}
@media (max-width: 780px) {
  .desti-main {
  padding: 10px 30px 40px 30px;
  
}


}