.dsr-container {
  padding: 10px 20px 20px 20px;
  font-family: Jost, Arial, sans-serif;
  margin: 0 100px;
}

.tab-header {
  display: flex;
  /* margin-bottom: 15px; */
}

.tab-header button {
  flex: 1;
  border: none;
  padding: 12px;
  cursor: pointer;
  
  color: white;
  background-color: #00384d;
}

.tab-header button.active {
  background: #dfdfdf;
  color: #2f2f2f;
}

.filter-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to right, #00384d, #33739a);
  padding: 20px;
  /* border-radius: 6px; */
  gap: 20px;
}

.filter-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 180px;
}

.filter-item label {
  color: rgb(238, 238, 238);
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 5px;
}

.filter-item select,
.filter-item input,
.date-picker {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  width: 100%;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  
}

/* .result-section table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
} */



.search-btn,
.reset-btn {
  padding: 8px 25px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #002534;
  transition: background 0.3s ease, transform 0.2s ease;
  /* font-weight: bold; */
}

.search-btn {
  background: #163c4c;
  color: white;
}
.search-btn:hover{
  background: #082532;
  transform: scale(1.03);


}

.reset-btn {
  background: #dedede;
  color: black;
  border: 1px solid #f4f4f4;
}
.reset-btn:hover{
  background: #ffffff;
  transform: scale(1.03);


}

.result-section {
  margin-top: 0px;
  overflow-x: auto;
}

.result-section table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 10px; */
}

.result-section th,
.result-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.result-section th {
  background: #f3f3f3;
}

.no-records {
  text-align: center;
  margin-top: 20px;
  color: gray;
}
.rprt{
  background-color: rgb(245, 245, 245);
  padding: 10px 10px;
  margin: 10px 120px 0px 120px;
  font-weight: 500;
}
.rprt-rslt{
  background-color: rgb(248, 248, 248);
  padding: 10px 10px;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
  color: rgb(0, 0, 0);
  width: 100%d;
}
.rprt-rslt{
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  /* margin-bottom: 20px; */
  gap: 12px;
}

.action-cell {
  position: relative;
  overflow: visible;
}


.action-icon {
  cursor: pointer;
  font-size: 24px;
  user-select: none;
}

.action-dropdown {
  position: absolute;
  right: 10px;
  top: 26px;
  width: 140px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.action-dropdown div {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.action-dropdown div:hover {
  background-color: #f2f2f2;
}
.result-section {
  overflow: visible;
}

table {
  overflow: visible;
}

tbody {
  overflow: visible;
}

tr {
  overflow: visible;
}


.pagination button {
  background: #163c4c;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination button:hover:not(:disabled) {
  background: #021f2b;
  transform: scale(1.05);
}

.pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 15px;
  color: #163c4c;
  font-weight: 500;
}


@media (max-width: 780px) {
.dsr-container {
  margin: 0px 10px;
}
.rprt{
  margin: 10px 30px;
}
}