.room-card {
  display: flex;
  gap: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}

.room-left {
  flex: 1;
}
.choose-btn.active {
  background-color: green;
  color: white;
  cursor: default;
}

.choose-btn.taken {
  background-color: #aaa;
  color: #fff;
  cursor: not-allowed;
}


.room-right {
  flex: 2;
  border-left: 1px solid #eee;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.room-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Slider */
.slider {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 4px;
}
.nav-btn.left {
  left: 5px;
}
.nav-btn.right {
  right: 5px;
}

.dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}
.dot {
  width: 10px;
  height: 10px; /* background: #ccc; */
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #ffffff;
}
/* Room details */
.room-details h4 {
  margin-top: 10px;
  font-weight: bold;
}

.facilities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.facility-item {
  background: #f5f5f5;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.see-more {
  padding-top: 10px;
  color: #5e72e0;
  text-decoration: underline;
  cursor: pointer;
}

/* Variation box */
.room-type-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.variation-info {
  flex: 2;
}

.price-box {
  flex: 1;
  text-align: right;
}

.discount {
  color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 13px;
  padding: 3px 6px;
  background-color: green;
  border-radius: 8px;
}

.old-new {
  margin: 0px 0;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.new-price {
  color: #3c7dab;
  font-size: 19px;
  font-weight: bold;
}

.small-text {
  color: #8a8a8a;
  font-size: 13px;
}

.choose-btn {
  margin-top: 3px;
  background: #3c7dab;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.choose-btn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
.green {
  color: green;
  padding-right: 4px;
}
.red {
  color: red;
  padding-right: 4px;
}

/* Popup */
.popup-overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btns {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.choose-btn-mob {
  padding: 6px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: auto; /* default width */
  transition: all 0.3s ease;
  margin: 5px 0px 0px 0px;
}
.choose-btn:hover {
  background: #0056b3;
}
.choose-btn-mob{
  display: none;
}

@media (max-width: 650px) {
  .choose-btn-mob {
    width: 100%;
    display: block;
  }
  .choose-btn-mob {
    width: 100%;
    display: block;
  }
  .popup-content {
    width: 90%;
  }
  .choose-btn {
    display: none;
  }
  .new-price {
    font-size: 14px;
  }
  .old-price {
    text-decoration: line-through;
    color: gray;
  }
} /* Responsive */
@media (max-width: 990px) {
  .old-new {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
@media (max-width: 898px) {
  .room-card {
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }
  .room-right {
    border-left: none;
    border-top: 1px solid #eee;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0px;
  }
  .old-new {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}
