.room-card {
  display: flex;
  gap: 20px;
  padding: 20px 0px 20px 20px;
  border-bottom: 1px solid #e7e7e7;
  /* border-radius: 12px; */
  background: #fff;
  width: 100%;
  

}

/* Popup overlay */
.popup-overlays {
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  
 
  z-index: 2000;
}

/* Popup content */
.popup-content {
  background: #fff;
  padding: 20px;
  width: 60%;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content ul {
  list-style: none;
  padding: 0;
}

.popup-content li {
  margin-bottom: 8px;
  font-size: 14px;
}

.close-btns {
  margin-top: 0px;
  padding: 8px 14px;
  background: #0c0c0c;
  border: none;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;

}

.close-btn:hover {
  background: #2d5d82;
}

.choose-room-btn {
  padding: 10px 20px;
  background-color: #007bff; /* default blue */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.choose-room-btn:hover {
  background-color: #0056b3;
}

.choose-room-btn.selected {
  background-color: #28a745 !important; /* green */
  color: white !important;
  cursor: default;
}

.old-new{
  display: flex;
  flex-direction: row;
  gap: 8px;
 
}

/* Left side */
.room-left {
  flex: 1.0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.room-details p{
  padding-bottom: 5px;
}

.slider {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  height: 100%;
}

.slider img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 4px;
}
.nav-btn.left { left: 5px; }
.nav-btn.right { right: 5px; }

.dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
}
.dot {
  width: 10px;
  height: 10px;
  /* background: #ccc; */
  border: 1px solid rgb(231, 231, 231);
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background: #ffffff;
}

.room-details {
  font-size: 14px;
}
.amenities {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

/* Right side */
.room-right {
  flex: 2;
  border-left: 1px solid #eee;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 20px;
}

.room-right h4 {
  margin-bottom: 10px;
}

.green { color: green; padding-right: 4px; }
.red { color: red;padding-right: 4px; }

.price-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

.price-box span{
  font-size: 14px;
  font-weight: bold;
  color: white;
}
.old-price {
  text-decoration: line-through;
  color: gray;
  display: flex;
  justify-content: flex-end;

}
.new-price {
  color: #1e1e1e;
  font-weight: bold;
  font-size: 20px;
}
.discount {
  background: green;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 6px;
}

.choose-btn, .choose-btn-mob {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  width: auto; /* default width */
  transition: all 0.3s ease;
  margin: 10px 0px;
}
.choose-btn:hover {
  background: #0056b3;
}
.choose-btn-mob{
  display: none;
}



.popup-overlays {
  position: fixed;       /* Stay fixed on screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  z-index: 9999;           /* Ensure it’s above everything */
}




@media (max-width:650px){
  .choose-btn-mob {
    width: 100%;
    display: block;
  }
  .popup-content{
    width: 90%;
  }
  .choose-btn {
    display: none;
  }
   .new-price {
  
  font-size: 14px;
}
.old-price {
  text-decoration: line-through;
  color: gray;
  
}
}

/* Responsive */
@media (max-width: 990px) {
  .old-new{
  display: flex;
  flex-direction: column;
  gap: 0px;
 
}

}
@media (max-width: 898px) {

  .room-card {
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }
 
  
  .room-right {
    border-left: none;
    border-top: 1px solid #eee;
    padding-left: 0;
    padding-top: 15px;
    padding-right: 0px;
  }
  .old-new{
  display: flex;
  flex-direction: column;
  gap: 0px;
 
}
}
